{
    "presets": [
      [
        "env",
        {
          "targets": {
            "browsers": ["last 2 Chrome versions"]
          }
        }
      ],
      "react",
      "stage-0"
    ],
    "plugins": ["react-hot-loader/babel", "transform-decorators-legacy", "transform-class-properties", "babel-plugin-transform-runtime"]
  }